{
  "type": "service_account",
  "project_id": "google project id"
  "private_key_id": "a short string"
  "private_key": "-----BEGIN PRIVATE KEY-----\n your private key ",
  "client_email": "service account email @appspot.gserviceaccount.com",
  "client_id": "a long number"
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/ where your key sits
  "universe_domain": "googleapis.com"
}
